Negocios/Web References/WSBoleto/Boleto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GerarBoleto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TipoCedente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Banco" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmpresaId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Emissao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codTipoVencimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vencimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codEspDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Abatimento" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IOF" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="codMunicipio" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeSacado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpfCGC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cobranca" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Instrucao1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Instrucao2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Instrucao3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Instrucao4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Instrucao5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarBoletoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GerarBoletoResult" type="tns:ParametrosSaida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ParametrosSaida">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Erro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErroDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroBoleto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoletoCarne" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NossoNumero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Conta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carteira" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GerarBoletoSoapIn">
    <wsdl:part name="parameters" element="tns:GerarBoleto" />
  </wsdl:message>
  <wsdl:message name="GerarBoletoSoapOut">
    <wsdl:part name="parameters" element="tns:GerarBoletoResponse" />
  </wsdl:message>
  <wsdl:portType name="ClubeContezaSoap">
    <wsdl:operation name="GerarBoleto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gera Boleto</wsdl:documentation>
      <wsdl:input message="tns:GerarBoletoSoapIn" />
      <wsdl:output message="tns:GerarBoletoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClubeContezaSoap" type="tns:ClubeContezaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarBoleto">
      <soap:operation soapAction="http://tempuri.org/GerarBoleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClubeContezaSoap12" type="tns:ClubeContezaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarBoleto">
      <soap12:operation soapAction="http://tempuri.org/GerarBoleto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClubeConteza">
    <wsdl:port name="ClubeContezaSoap" binding="tns:ClubeContezaSoap">
      <soap:address location="http://www.clubeconteza.com.br:81/Boleto.asmx" />
    </wsdl:port>
    <wsdl:port name="ClubeContezaSoap12" binding="tns:ClubeContezaSoap12">
      <soap12:address location="http://www.clubeconteza.com.br:81/Boleto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>