Portal.Negocios/Web References/WSLogin/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AcessoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cnpjParceiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaParceiro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcessoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcessoUsuarioResult" type="tns:AcessoUsuarioController" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AcessoUsuarioController">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CpfCnpjUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CnpjPlanos" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AcessoUsuarioController" nillable="true" type="tns:AcessoUsuarioController" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AcessoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AcessoUsuario" />
  </wsdl:message>
  <wsdl:message name="AcessoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AcessoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AcessoUsuarioHttpGetIn">
    <wsdl:part name="chaveUsuario" type="s:string" />
    <wsdl:part name="cnpjParceiro" type="s:string" />
    <wsdl:part name="senhaParceiro" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AcessoUsuarioHttpGetOut">
    <wsdl:part name="Body" element="tns:AcessoUsuarioController" />
  </wsdl:message>
  <wsdl:message name="AcessoUsuarioHttpPostIn">
    <wsdl:part name="chaveUsuario" type="s:string" />
    <wsdl:part name="cnpjParceiro" type="s:string" />
    <wsdl:part name="senhaParceiro" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AcessoUsuarioHttpPostOut">
    <wsdl:part name="Body" element="tns:AcessoUsuarioController" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="AcessoUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acesso ao usuário</wsdl:documentation>
      <wsdl:input message="tns:AcessoUsuarioSoapIn" />
      <wsdl:output message="tns:AcessoUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpGet">
    <wsdl:operation name="AcessoUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acesso ao usuário</wsdl:documentation>
      <wsdl:input message="tns:AcessoUsuarioHttpGetIn" />
      <wsdl:output message="tns:AcessoUsuarioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpPost">
    <wsdl:operation name="AcessoUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acesso ao usuário</wsdl:documentation>
      <wsdl:input message="tns:AcessoUsuarioHttpPostIn" />
      <wsdl:output message="tns:AcessoUsuarioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcessoUsuario">
      <soap:operation soapAction="http://tempuri.org/AcessoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcessoUsuario">
      <soap12:operation soapAction="http://tempuri.org/AcessoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpGet" type="tns:LoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AcessoUsuario">
      <http:operation location="/AcessoUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpPost" type="tns:LoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AcessoUsuario">
      <http:operation location="/AcessoUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://www.clubeconteza.com.br:81/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://www.clubeconteza.com.br:81/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpGet" binding="tns:LoginHttpGet">
      <http:address location="http://www.clubeconteza.com.br:81/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpPost" binding="tns:LoginHttpPost">
      <http:address location="http://www.clubeconteza.com.br:81/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>